/JavaApplication16/nbproject/private/
/quiz1/nbproject/private/
/quiz1/build/
/ch5ex2/nbproject/private/
/ch5ex2/build/
/ch5ex3/nbproject/private/
/ch5ex3/build/
/ch5ex5/nbproject/private/
/ch5ex5/build/
/ch5ex6/nbproject/private/
/ch5ex6/build/
/ch5ex9b/nbproject/private/
/ch5ex9b/build/
/ch5ex11/nbproject/private/
/ch5ex11/build/
/ch5ex13/nbproject/private/
/ch5ex13/build/
/ch5ex16/nbproject/private/
/ch5ex16/build/
/ch5ex13/dist/